#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Bodoni Moda SC', serif;
}

body{
  background-color: #fbfaf4;
}

.container {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: #3b5165;
  font-size: 4.2em;
  line-height: 1.1;
  width: 90vw;
  letter-spacing: 10px;
}

label {
  width: 100%;
}

label strong {
  font-size: 1.7em;
  font-weight: 500;
  line-height: 2.5;
  letter-spacing: 5px;
  display: flex;
  text-align: left;
  color: #3b5165;
}

#htmlTitle {
  color: #888338;

}

#cssTitle {
  color: #387138;

}

textarea {
  padding: 15px;
  border-radius: 15px;
  box-shadow: 20px 20px 60px #d0d5d9, -20px -20px 60px #ffffff;
  width: 100%;
  margin-bottom: 10px;
}

.button-container {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.generate-button {
  margin-bottom: 40px;
  border: 2px solid #000;
  width: fit-content;
  border-radius: 50px;
  background: #f5fbff;
  box-shadow: 20px 20px 60px #d0d5d9, -20px -20px 60px #ffffff;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.generate-button:hover {
  border-color: #646cff;
  background-color: rgb(68, 241, 33);
}
.generate-button:focus,
.generate-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
